[Unit]
Description=Orei BK-404 Serial Web Server
After=network.target

[Service]
ExecStart=/home/cactusFruit/BK404Web/venv/bin/flask --app app run --host 0.0.0.0
WorkingDirectory=/home/cactusFruit/BK404Web/
Restart=always

[Install]
WantedBy=multi-user.target
